/* Temporary */
body {
	margin:10px;
}
.slide-shows{
	overflow:hidden;
}
.slide-show {
	float:left;
}
.slide-show  + .slide-show{
	margin-left:10px;
}
.slides-viewport{
	width:450px;
	overflow:hidden;
}
.slides-wrapper{
	width:1800px;
}

/* @end */
